RewriteEngine On # Turn on the rewriting engine
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^dashboard/?$ index.php [NC,L]
RewriteRule ^dashboard/([0-9]+)/?$ index.php?id=$1 [NC,L]
RewriteRule ^create-organizer/?$ createOrganizer.php [NC,L]
RewriteRule ^create-organizer/([0-9]+)/?$ createOrganizer.php?id=$1 [NC,L]
RewriteRule ^manage-organizer/?$ manageOrganizer.php [NC,L]
RewriteRule ^manage-organizer/([0-9]+)/?$ manageOrganizer.php?id=$1 [NC,L]
RewriteRule ^create-event/?$ createEvent.php [NC,L]
RewriteRule ^create-event/([0-9]+)/?$ createEvent.php?id=$1 [NC,L]
RewriteRule ^manage-form/?$ manageForm.php [NC,L]
RewriteRule ^manage-form/([0-9]+)/?$ manageForm.php?id=$1 [NC,L]
RewriteRule ^manage-category-event/?$ manageCategoryEvent.php [NC,L]
RewriteRule ^manage-category-event/([0-9]+)/?$ manageCategoryEvent.php?id=$1 [NC,L]
RewriteRule ^manage-event/?$ manageEvent.php [NC,L]
RewriteRule ^manage-event/([0-9]+)/?$ manageEvent.php?id=$1 [NC,L]
RewriteRule ^attendance/?$ attendance.php [NC,L]
RewriteRule ^attendance/([0-9]+)/?$ attendance.php?id=$1 [NC,L]
RewriteRule ^verify-orders/?$ verify-orders.php [NC,L]
RewriteRule ^verify-orders/([0-9]+)/?$ verify-orders.php?id=$1 [NC,L]
RewriteRule ^manage-banner/?$ manageBanner.php [NC,L]
RewriteRule ^manage-banner/([0-9]+)/?$ manageBanner.php?id=$1 [NC,L]
RewriteRule ^manage-talent/?$ manageTalent.php [NC,L]
RewriteRule ^manage-talent/([0-9]+)/?$ manageTalent.php?id=$1 [NC,L]
RewriteRule ^export-pdf/?$ export-pdf.php [NC,L]
RewriteRule ^export-pdf/([0-9]+)/?$ export-pdf.php?id=$1 [NC,L]
RewriteRule ^login-admin/?$ login-admin.php [NC,L]
RewriteRule ^login-admin/([0-9]+)/?$ login-admin.php?id=$1 [NC,L]
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule ^login/([0-9]+)/?$ login.php?id=$1 [NC,L]
RewriteRule ^loginWithOtp/?$ loginWithOtp.php [NC,L]
RewriteRule ^loginWithOtp/([0-9]+)/?$ loginWithOtp.php?id=$1 [NC,L]
RewriteRule ^page-admin-email/?$ page-admin-email.php [NC,L]
RewriteRule ^page-admin-email/([0-9]+)/?$ page-admin-email.php?id=$1 [NC,L]
RewriteRule ^page-admin-otp/?$ page-admin-otp.php [NC,L]
RewriteRule ^page-admin-otp/([0-9]+)/?$ page-admin-otp.php?id=$1 [NC,L]
RewriteRule ^page-organizer-email/?$ page-organizer-email.php [NC,L]
RewriteRule ^page-organizer-email/([0-9]+)/?$ page-organizer-email.php?id=$1 [NC,L]
RewriteRule ^page-organizer-otp/?$ page-organizer-otp.php [NC,L]
RewriteRule ^page-organizer-otp/([0-9]+)/?$ page-organizer-otp.php?id=$1 [NC,L]